# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Flutter/flutter_export_environment.sh

# macOS
.DS_Store

# IDE
.idea/
*.iml
.vscode/
